[Unit]
Description=SimpleRFTracker
After=network.target

[Service]
ExecStart=/usr/bin/node-red /home/pi/SimpleRFTracker/node-red-flow.json
WorkingDirectory=/home/pi/SimpleRFTracker
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
